echo "__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.cache
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.docs
.pytest_cache/
.hypothesis/
.vscode/
.idea/
*.sqlite3
instance/
.webassets-cache